
.menu-bar1 {
    align-self: stretch;
    width: 1440px;
    position: relative;
    background-color: var(--color-seagreen);
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    display: none;
    max-width: 100%;
}

.logo-1-21 {
    height: 89px;
    width: 95px;
    position: relative;
    object-fit: cover;
    z-index: 1;
}

.icround-account-circle-icon1 {
    height: 40px;
    width: 40px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
}



.icround-account-circle-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xs);
}

.frame-div {
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0px 0px var(--padding-4xl);
    box-sizing: border-box;
}

.menu-bar-group {
    align-self: stretch;
    height: 90px;
    background-color: var(--color-seagreen);
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--padding-12xs) var(--padding-72xl) 0px var(--padding-lg);
    box-sizing: border-box;
    top: 0;
    z-index: 99;
    position: sticky;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--white);
    font-family: var(--font-inter);
}

.material-symbolsarrow-back-io-icon {
    height: 40px;
    width: 40px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 40px;
}
.delete-img{
    height: 40px;
    width: 40px;
    position: relative;
    overflow: hidden;
}

.dashboard2 {
    height: 40px;
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    min-width: 104px;
    max-width: 100%;
}

.material-symbolsarrow-back-io-parent {
    width: 407px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    flex-shrink: 0;
}



.frame-parent1 {
    margin: 0;

}

.docs-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px var(--padding-58xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-seagreen);
    font-family: var(--font-inter);
    margin: 0;
}

.docs .dashboard2
{
    position: absolute;
    left: 40px;
}

.docs-inner h1{
    text-align: center;
}
.docs {
    width: 100%;
    position: relative;
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px var(--padding-12xs) 884.6px 0px;
    box-sizing: border-box;
    gap: var(--gap-68xl);
    letter-spacing: normal;
}

input[type=text]{
    padding: 10px;
    margin: 20px,10px;
    border: 1px solid black;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0);
    border-radius: 15px;
    font-family:auto;
    font-size: 18px;
    overflow: auto;
  }
  input[type=button]{
    cursor: pointer;
    border: 1px solid var(--color-black);
    padding: var(--padding-8xs) 18.09999999999999px 7.099999999999966px;
    background-color: var(--color-seagreen);
    border-radius: var(--br-8xs);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width:240px;
    flex: 1;
    position: relative;
    font-size: var(--font-size-3xl);
    font-family: var(--font-inter);
    color: var(--white);
    text-align: center;
    z-index: 1;
  }
  input[type=submit]{
    cursor: pointer;
    border: 1px solid var(--color-black);
    padding: var(--padding-8xs) 18.09999999999999px 7.099999999999966px;
    background-color: var(--color-seagreen);
    width:75%;
    border-radius: var(--br-8xs);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex: 1;
    position: relative;
    font-size: var(--font-size-3xl);
    font-family: var(--font-inter);
    color: var(--white);
    text-align: center;
    z-index: 1;
  }
  input[type=image]
  {
    height: 40px;
    width:40px;
  }

  .section1 a{
    color: var(--color-seagreen);
    font-size: 25px;
    position: absolute;
    left: 40px;
  }


  .section1 form{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .docs-inner tr th{
    border-right: none;
    border-left: none;
    
  }


.messages {
    color: darkred;
    font-size:20px;
    margin-left: 180px;

}