{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'base/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'base/css/sign-up.css' %}" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" />
</head>
<body>
    <div class="sign-up1">
        <div class="rectangle-container">
            <div class="frame-child1"></div>
            <img class="aranprime-5pqzua5w-0i-unsplash-icon"
                 alt=""
                 src="{% static 'base/images/HQ 2 (002).jpg' %}" />

            <img class="send-2-icon1"
                 loading="lazy"
                 alt=""
                 src="{% static 'base/images/logo main.png' %}" />
        </div>
        <div class="sign-up-inner">
            <div class="frame-parent3">
                <div class="sign-up-label-wrapper">
                    <div class="sign-up-label">
                        <div class="have-an-account">have an account?</div>
                        <a href="{% url 'signin' %}" class="sign-in1" id="signInText">Sign in!</a>
                    </div>
                </div>
                <div class="employee-i-d-input-wrapper">
                    <form class="employee-i-d-input" method="POST" action="">
                        {% csrf_token %}

                        <div class="frame-parent4">
                            <div class="sign-up-wrapper">
                                <h1 class="sign-up2">Sign Up</h1>
                            </div>
                            <div class="vector-parent">
                                <img class="vector-icon"
                                     loading="lazy"
                                     alt=""
                                     src="{% static 'base/images/public/vector-12.svg' %}" />

                                <img class="frame-child2"
                                     loading="lazy"
                                     alt=""
                                     src="{% static 'base/images/public/vector-131.svg' %}" />
                            </div>

                            <div class="group-div">
                                <div class="frame-child3"></div>
                                <input class="employee-id1" name="username" placeholder="Employee ID" type="text" />
                            </div>
                            {% if form.username.errors %}
                            <span class="error">{{ form.username.errors }}</span>
                            {% endif %}

                            <div class="password-input">
                                <div class="rectangle-parent1">
                                    <div class="frame-child4"></div>
                                    <input class="password" name="password1" placeholder="Password" type="password" />
                                </div>

                                <div class="rectangle-parent2">
                                    <div class="frame-child5"></div>
                                    <input class="frame-child6" name="password2" placeholder="Confirm Password" type="password" />
                                </div>
                                {% if form.password1.errors %}
                                <span class="error">{{ form.password1.errors }}</span>
                                {% elif form.password2.errors %}
                                <span class="error">{{ form.password2.errors }}</span>
                                {% endif %}
                            </div>

                            <div class="sucess-message-container">
                                <ul>
                                    {% for message in messages %}
                                    {% if message.tags == 'success' %}
                                    <li>{{ message }}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="error">
                                <ul>
                                    {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                    <li>{{ message }}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="create-account-button">
                            <button class="button1" type="submit" value="signup">
                                <img class="button-item"
                                     alt=""
                                     src="{% static 'base/images/public/rectangle-17.svg' %}" />

                                <div class="create-account">Create Account</div>
                            </button>
                        </div>
                    </form>

                </div>
                <div class="by-continuing-you">
                    By continuing you indicate that you read and agreed to the Terms of
                    Use
                </div>
            </div>
        </div>
    </div>

</body>
</html>
